/* ============================================== */
/*=========== globle scss ========== */
/* ============================================== */

body {
    font-family: 'Inter', sans-serif;
}

.btn {
    transition: all 0.25s !important;

    &:hover {
        outline: none !important;
        box-shadow: 4px 4px 0 0 #faaf40 !important;
        transform: translate(-5px, -5px) !important;
    }
}

.btn.btn-primary {
    &:hover {
        box-shadow: 4px 4px 0 0 #070428 !important;
    }
}