/* ============================================== */
/*========= variable scss =========== */
/* ============================================== */

//== color variables
$primary: #faaf40;
$secondary: #262261;
$warning: #ee4036;
$dark: #070428;
$light: #f8f9fa;
$success: #28a745;
$info: #17a2b8;
$white: #ffff;