<section>
    <div class="breadcrumb-banner container-fluid">
        <div class="row h-100 d-flex align-items-center ">
            <div class="col-12 d-flex align-items-center flex-column ">
                <div class="h3 text-primary">Blogs</div>
                <p class="fs-5 my-4 text-light  text-center text-opacity-75 w-50">Duis semper mauris vitae purus rhoncus
                    suscipit. Nunc
                    dictum dapibus tellu.</p>
            </div>
        </div>
    </div>
</section>