<section class="text-white">
  <div class="container">
    <div id="contact" class="py-5 my-5">
      <div class="row">
        <div class="col-6">
          <div class="contact-content">
            <div class="h3 text-primary position-relative">Contact Us</div>
            <div class="contact-text fw-bold mb-3">
              Feel free to contact for any questions, help, or services!
            </div>
            <div class="fs-5 text-light text-opacity-75">
              Feel free to contact for any questions or any help or services! We
              understand the importance of approaching each work integrally and
              believe in the power of simple and easy communication.
            </div>
            <div class="text-light text-opacity-75 pt-3">
            <span class="text-primary">--</span> 650 Dundee Rd # 380, Northbrook, IL 60062, United States
            </div>
            <div class="text-light text-opacity-75">
            <span class="text-primary">--</span> 650 Dundee Rd # 380, Northbrook, IL 60062, United States
            </div>
            <div class="text-light text-opacity-75">
            <span class="text-primary">--</span> 650 Dundee Rd # 380, Northbrook, IL 60062, United States
            </div>
            <div class="text-light text-opacity-75">
            <span class="text-primary">--</span> 650 Dundee Rd # 380, Northbrook, IL 60062, United States
            </div>
            <button
              class="btn rounded-0 bg-transparent text-primary border border-primary px-4 py-3 mt-5"
            >
              Contact Us
            </button>
          </div>
        </div>
        <div class="col-6">
          <div class="contact-img position-relative">
            <div class="bg-white p-5 border">
              <form class="text-dark">
                <div class="row g-3 align-items-center">
                    <div class="col-auto">
                      <label for="inputPassword6" class="col-form-label">Your Name</label>
                    </div>
                    <div class="col-auto">
                      <input type="password" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline">
                    </div>
                  </div>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label"
                    >Your Name</label
                  >
                  <input
                    type="email"
                    class="form-control"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                  />
                </div>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label"
                    >Your Email</label
                  >
                  <input
                    type="email"
                    class="form-control"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                  />
                </div>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label"
                    >Phone Number</label
                  >
                  <input
                    type="email"
                    class="form-control"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                  />
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label"
                    >Your Message</label
                  >
                  <input
                    type="password"
                    class="form-control"
                    id="exampleInputPassword1"
                  />
                </div>
                <button type="submit" class="btn rounded-0 btn-primary text-dark border border-primary px-4 py-3 mt-5">Send Message</button>
              </form>
            </div>
            <div class="position-absolute corner-img">
              <img src="/assets/images/corner.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
