<app-breadcrumb></app-breadcrumb>
<section class="bg-white">
    <div class="container py-5">
        <!-- blog -->
        <div class="row blog-wrap shadow bord w-75 mx-auto">
            <div class="col-6">
                <div class="blog d-flex justify-content-evenly h-100 align-items-between flex-column">
                    <div class="text-dark text-opacity-75">UI/UX Design</div>
                    <div class="h3 fw-bold w-75">
                        Implement UX Design into live and user friendly
                    </div>
                    <!-- read more link -->
                    <a href="#" class="text-decoration-none fw-semibold">Read More
                        <span>
                            <svg width="15" height="15" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <!-- <title /> -->
                                <g id="Complete">
                                    <g id="arrow-right">
                                        <g>
                                            <polyline data-name="Right" fill="none" id="Right-2"
                                                points="16.4 7 21.5 12 16.4 17" stroke="#faaf40" stroke-linecap="round"
                                                stroke-linejoin="round" stroke-width="2" />

                                            <line fill="none" stroke="#faaf40" stroke-linecap="round"
                                                stroke-linejoin="round" stroke-width="2" x1="2.5" x2="19.2" y1="12"
                                                y2="12" />
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-6">
                <img src="/assets/images/blog1.png" width="100%" alt="blog" class="position-relative blog-img shadow">
            </div>
        </div>
        <!-- /blog -->
        <!-- blog -->
        <div class="blog-wrap shadow row px-3 w-75 mx-auto">
            <div class="col-6">
                <div class="blog d-flex justify-content-evenly h-100 align-items-between flex-column">
                    <div class="text-dark text-opacity-75">UI/UX Design</div>
                    <div class="h3 fw-bold w-75">
                        Implement UX Design into live and user friendly
                    </div>
                    <!-- read more link -->
                    <a href="#" class="text-decoration-none fw-semibold">Read More
                        <span>
                            <svg width="15" height="15" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <!-- <title /> -->
                                <g id="Complete">
                                    <g id="arrow-right">
                                        <g>
                                            <polyline data-name="Right" fill="none" id="Right-2"
                                                points="16.4 7 21.5 12 16.4 17" stroke="#faaf40" stroke-linecap="round"
                                                stroke-linejoin="round" stroke-width="2" />

                                            <line fill="none" stroke="#faaf40" stroke-linecap="round"
                                                stroke-linejoin="round" stroke-width="2" x1="2.5" x2="19.2" y1="12"
                                                y2="12" />
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-6">
                <img src="/assets/images/blog1.png" width="100%" alt="blog" class="position-relative blog-img shadow">
            </div>
        </div>
        <!-- /blog -->
        <!-- blog -->
        <div class="blog-wrap shadow row px-3 w-75 mx-auto">
            <div class="col-6">
                <div class="blog d-flex justify-content-evenly h-100 align-items-between flex-column">
                    <div class="text-dark text-opacity-75">UI/UX Design</div>
                    <div class="h3 fw-bold w-75">
                        Implement UX Design into live and user friendly
                    </div>
                    <!-- read more link -->
                    <a href="#" class="text-decoration-none fw-semibold">Read More
                        <span>
                            <svg width="15" height="15" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <!-- <title /> -->
                                <g id="Complete">
                                    <g id="arrow-right">
                                        <g>
                                            <polyline data-name="Right" fill="none" id="Right-2"
                                                points="16.4 7 21.5 12 16.4 17" stroke="#faaf40" stroke-linecap="round"
                                                stroke-linejoin="round" stroke-width="2" />

                                            <line fill="none" stroke="#faaf40" stroke-linecap="round"
                                                stroke-linejoin="round" stroke-width="2" x1="2.5" x2="19.2" y1="12"
                                                y2="12" />
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-6">
                <img src="/assets/images/blog1.png" width="100%" alt="blog" class="position-relative blog-img shadow">
            </div>
        </div>
        <!-- /blog -->
        <!-- blog -->
        <div class="blog-wrap shadow row px-3 w-75 mx-auto">
            <div class="col-6">
                <div class="blog d-flex justify-content-evenly h-100 align-items-between flex-column">
                    <div class="text-dark text-opacity-75">UI/UX Design</div>
                    <div class="h3 fw-bold w-75">
                        Implement UX Design into live and user friendly
                    </div>
                    <!-- read more link -->
                    <a href="#" class="text-decoration-none fw-semibold">Read More
                        <span>
                            <svg width="15" height="15" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <!-- <title /> -->
                                <g id="Complete">
                                    <g id="arrow-right">
                                        <g>
                                            <polyline data-name="Right" fill="none" id="Right-2"
                                                points="16.4 7 21.5 12 16.4 17" stroke="#faaf40" stroke-linecap="round"
                                                stroke-linejoin="round" stroke-width="2" />

                                            <line fill="none" stroke="#faaf40" stroke-linecap="round"
                                                stroke-linejoin="round" stroke-width="2" x1="2.5" x2="19.2" y1="12"
                                                y2="12" />
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-6">
                <img src="/assets/images/blog1.png" width="100%" alt="blog" class="position-relative blog-img shadow">
            </div>
        </div>
        <!-- /blog -->
    </div>
</section>