/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

// /* ====== global scss ========= */
// variables for bootstrap
$primary: #faaf40;
$secondary: #262261;
$warning: #ee4036;
$dark: #070428;

// text styles
.text-primary {
    color: $primary !important;
}

.text-secondary {
    color: $secondary !important;
}

.text-warning {
    color: $warning !important;
}

.text-dark {
    color: $dark !important;
}

// background styles
.bg-primary {
    background-color: $primary !important;
}

.bg-secondary {
    background-color: $secondary !important;
}

.bg-warning {
    background-color: $warning !important;
}

.bg-dark {
    background-color: $dark !important;
}

// button styles
.btn-primary {
    border-color: $primary;
    background-color: $primary !important;
}

.btn-secondary {
    border-color: $secondary;
    background-color: $secondary !important;
}

.btn-warning {
    border-color: $warning;
    background-color: $warning !important;
}

.btn-dark {
    border-color: $dark;
    background-color: $dark !important;
}

// border styles
.border-primary {
    border-color: $primary !important;
}

.border-secondary {
    border-color: $secondary !important;

}

.border-warning {
    border-color: $warning !important;

}

.border-dark {
    border-color: $dark !important;
}

// style
body {
    background-color: $dark;
    font-family: 'Inter', sans-serif;
}
.btn {
    transition: all 0.25s;
    &:hover {
        outline: none;
        box-shadow: 4px 4px 0 0 $primary;
        transform: translate(-5px, -5px);
    }
}