<section class="hero-bg">
    <div class="container">
        <div class="row vh-100 d-flex align-items-center">
            <div class="col-12">
                <div class="h3 text-primary">Hello I'm</div>
                <h1 class="hero-text fw-bold text-white">Lorem Ipsum.
                </h1>
                <div id="dynamicContent" class="hero-text overflow-hidden text-light">{{dynamicContent}}
                </div>
                <div class="fs-5 my-4 text-light text-opacity-75 w-50">I’m a software engineer specializing in building
                    (and
                    occasionally designing) exceptional digital experiences. Currently, I’m focused on building
                    accessible, human-centered products at Upstatement.</div>
                <div class="d-flex align-items-center py-2">
                    <a class="play-btn rounded-circle bg-primary d-flex align-items-center justify-content-center"
                        target="blank" href="https://youtu.be/Fi3_BjVzpqk">
                        <svg fill="#ffffff" viewBox="0 0 32 32" version="1.1" width="28px"
                            xmlns="http://www.w3.org/2000/svg">
                            <title>play</title>
                            <path
                                d="M5.92 24.096q0 1.088 0.928 1.728 0.512 0.288 1.088 0.288 0.448 0 0.896-0.224l16.16-8.064q0.48-0.256 0.8-0.736t0.288-1.088-0.288-1.056-0.8-0.736l-16.16-8.064q-0.448-0.224-0.896-0.224-0.544 0-1.088 0.288-0.928 0.608-0.928 1.728v16.16z">
                            </path>
                        </svg>
                    </a>
                    <span class="ms-4 fs-4 fw-semibold text-white">Play Video</span>
                </div>

            </div>
        </div>
    </div>
</section>