// scss for home component
// hero-background
.hero-bg {
    background-image: url(/assets/images/hero-background-image.png);
    background-size: cover;
}

.hero-text {
    font-size: 80px;
    line-height: 105px;
}

.bg-hero-img {
    height: 350px;
    width: 350px;
    transform: rotate(45deg);
}

.icons-wrap {
    width: 500px;
    height: 500px;
    z-index: 2;
}


.play-btn {
    width: 60px;
    height: 60px;
}

#dynamicContent {
    white-space: nowrap;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;
    // animation-name: changewidth;
}

@keyframes changewidth {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

#about {
    .about-content {
        .h3::after {
            content: "";
            width: 300px;
            height: 1px;
            background-color: #faaf40;
            position: absolute;
            top: 17px;
            left: 142px;
        }

        .about-text {
            font-size: 50px;
            line-height: 65px;
        }
    }

    .about-img {
        margin: 0px 80px 100px 0px;
    }

    .corner-img {
        bottom: -80px;
        right: -80px;
        z-index: -1;
    }

    .about-img:after {
        border: 10px solid #faaf40 !important;
        position: absolute;
        content: "";
        inset: 40px -40px -40px 40px;
        z-index: -1;
    }
}

// social icons

.social-icons {
    bottom: 0px;
    left: 40px;
    right: auto;
    z-index: 10;

    ul:after {
        content: "";
        display: block;
        width: 1px;
        height: 90px;
        margin: 0px auto;
        background-color: #808ca9;
    }

    .list-item {
        padding: 10px;
        transition: all 0.25s;

        &:hover {
            svg {
                stroke: #faaf40 !important;
            }

            transform: translate(-3px, -3px);
        }
    }
}